* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar-nav a{
  color:var(gray);
}

.navbar-nav a:hover {
    color:var(--bg_light_purple)
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--light_blue_text_color);
}

.navbar-dark .navbar-brand {
  color: var(--light_blue_text_color);
}