* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar-nav a{
  color:var(gray);
  font-size:1.5rem;
}

.navbar-nav a:hover {
    color:var(--bg_light_purple);
    text-decoration: overline;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--light_blue_text_color);
}

.navbar-dark .navbar-brand {
  color: var(--light_blue_text_color);
  font-size: 2rem;
}

.navbar-dark .navbar-brand img {
 width: 40px;
 margin-bottom: 30px;
}
