:root {
    --bg_light_purple: #AC80FF;
    --bg_dark_purple: #7258d7;
    --bg_dark: #060613;
    --bg_black: #000;
    --bg_darker: #0a0a12;
    --border_dark: #333;
    --dark_text_color: darkgray;
    --light_text_color: white;
    --error_color: red;
    --focus_color: blue;
    --transition: .5s;
    --light_blue_text_color: #A0A0FE;
}

:root {
    --color-ligth-purple-2: #9c88ff;

}